<configuration>
  <system.webServer>
    <!-- Tell IIS to use iisnode for .js files -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite all requests to server.js -->
    <rewrite>
      <rules>
        <rule name="NodeBackend" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Ignore if request is for a physical file or directory -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- iisnode settings -->
    <iisnode 
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" 
    />
  </system.webServer>
</configuration>
